#btn { 
    background-color: rgb(226, 76, 59);
    font-weight: bold;
    border-radius: 10px;
    color: white;
    width: 105px;
   
}
#btn1 {
    background-color: rgb(226, 76, 59);
    font-weight: bold;
    border-radius: 10px;
    color: white;
    width: 105px;
}

#title {
   text-align: center;
   padding-top: 60px;

   font-family: 'Ubuntu';
   position: relative;
   left: 5px;
}

#title1 {
  color: black;
  position: relative;
  right: 2px;
  font-size:15px ;
  font-weight: bold;
  font-family: 'Ubuntu';   
 }

 .login{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
 }