.Panel{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Panel__category{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Panel__resturant{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.admin{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.admin__user{
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
